@model Cuahanggiayfinal.Models.PRODUCT
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="product-info">

        <div class="left">
            <img src="~/images/@Model.img" style=" margin-left: 61px; width:250px" />
        </div>
        <div class="right">
            <h1>@Model.productName</h1>
            <div class="description">
                <span>Size giày:</span>@Model.size.sizegiay<br>
            </div>
            <div class="price">
                Price: <div class="price-tag">@String.Format("{0:0,0}", Model.price) VNĐ</div>
                <br>
            </div>
            <div class="cart">
                <div>
                    <div class="qty">
                        <strong>Qty:</strong> <a href="javascript:void(0);" class="qtyBtn mines">-</a>
                        <input type="text" value="1" size="2" name="quantity" class="w30" id="qty">
                        <a href="javascript:void(0);" class="qtyBtn plus">+</a>
                        <div class="clear"></div>
                    </div>
                    <a href="@Url.Action("themCart","Cart", new { @iproductId = @Model.productId, @strURL=Request.Url.ToString() })">
                        <input type="button" class="button" id="button-cart" value="Add to Cart">
                    </a>       
                </div>
            </div>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style "> <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a> </div>
            <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=xa-506f325f57fbfc95"></script>
            <!-- AddThis Button END -->
        </div>

</div>