<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <title>Bigshop HTML Template</title>
    <link href="image/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Part Start-->
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/slideshow.css" rel="stylesheet" />
    <link href="~/Content/colorbox.html" />
    <link href="~/Content/css/phu9999.css" rel="stylesheet" />
    <script src="~/Scripts/map.js"></script>
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <!-- CSS Part End-->
    <!-- JS Part Start-->
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    <script src="~/Scripts/jquery.jcarousel.min.js"></script>
    <script src="~/Scripts/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/tabs.js"></script>
    <script src="~/Scripts/jquery.easing-1.3.min.js"></script>
    <script src="~/Scripts/cloud_zoom.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.dcjqaccordion.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <!-- Header Parts Start-->
        <div id="header">
            <!-- Top Right part Links-->
            <div id="welcome">
                <div id="language">
                    Language
                    <ul>
                        <li><a title="English"><img src="~/image/flags/gb.png" alt="English" />English</a></li>
                    </ul>
                </div>
                <a href="@Url.Action("Dangnhap", "Customer")">login</a> <a href="@Url.Action("Dangky", "Customer")">create an account</a>
            </div>
            <div id="logo"><a href="@Url.Action("Index","ShoeStore")"><img src="~/image/logo.png" title="ecommerce Html Template" alt="ecommerce Html Template" /></a></div>
            <div id="search">
                <div class="button-search"></div>
                <input type="text" value="" placeholder="" id="filter_name" name="search">
            </div>
            <!--Mini Cart Start-->
            <div id="cart">
                <div class="heading">
                    @Html.Action("CartPartial", "Cart")
                </div>
            </div>
            <!--Mini Cart End-->
        </div>
        <!--Top Navigation Start-->
        <div id="menu">
            <span>Menu</span>
            <ul>
                <li class="home"><a title="Home" href="@Url.Action("Index","ShoeStore")"><span>Home</span></a></li>
                <li><a href="@Url.Action("adidasAbout","ShoeStore")">ABOUT CONVERSE</a> </li>
                <li><a href="@Url.Action("converseAbout","ShoeStore")">ABOUT CONVERSE</a> </li>
                <li><a href="@Url.Action("nikeAbout","ShoeStore")">ABOUT NIKE</a> </li>
                <li><a href="@Url.Action("Contact","ShoeStore")">CONTACT</a> </li>
            </ul>
        </div>
        <!--Top Navigation Start-->
        <div id="container">
            <!--Left Part-->
            <div id="column-left">
                <!--Categories Part Start-->
                <div class="box">
                    <div class="box-heading">ShoesStore9999</div>
                    <div class="box-content box-category">
                        <ul id="custom_accordion">
                            @Html.Action("hang", "ShoeStore")
                            @Html.Action("theloai", "ShoeStore")
                            @Html.Action("sizegiay", "ShoeStore")
                        </ul>
                    </div>
                </div>
                <!--Categories Part End-->
                <!--Latest Product Start-->
                <div class="box">
                    <div class="box-heading">HOT PRODUCT</div>
                    <div class="box-content">
                        @Html.Action("giayhot","ShoeStore")
                    </div>
                </div>
                <!--Latest Product End-->
                <!--Specials Product Start-->
                <div class="box">
                    <div class="box-heading">LUXURY PRODUCT</div>
                    <div class="box-content">
                        @Html.Action("laysptheogia", "ShoeStore")
                    </div>
                </div>
                <!--Specials Product End-->
            </div>
            <!--Left End-->
            <!--Middle Part Start-->
                @RenderBody()
            <!--Middle Part End-->
            <!--Footer Part Start-->
            <div id="footer">
                <div class="column">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="">Giày Adidas</a></li>
                        <li><a href="about-us.html">Giày Nike</a></li>
                        <li><a href="about-us.html">Giày Puma</a></li>
                        <li><a href="elements.html">Giày Converse</a></li>

                    </ul>
                </div>
                <div class="column">
                    <h3>Customer Service</h3>
                    <ul>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="sitemap.html">Site Map</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Extras</h3>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <ul>
                        <li class="address">Nguyen Thanh Phu</li>
                        <li class="mobile">0942615029</li>
                        <li class="email"><a href="mailto:thanhphu18dtha3@gmail.com">thanhphu18dtha3@gmail.com</a></li>
                    </ul>
                </div>
                <div class="social"> <a href="https://www.facebook.com/profile.php?id=100015067360571" target="_blank"><img src="~/image/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://www.youtube.com/channel/UCGSsOiu6uMWiu_X53K717_Q" target="_blank"><img src="~/image/youtube.png" alt="YouTube" title="YouTube"></a> </div>
                <div class="clear"></div>
                <div id="powered">
                    Bigshop <a href="#">Html Template </a> &copy; 2021 &nbsp;|&nbsp; Template By <a target="_blank" href="http://harnishdesign.net/">Harnish Design</a>
                </div>
            </div>
            <!--Footer Part End-->
</body>
</html>
