@using Cuahanggiayfinal.Models
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="content">
    <h1>Shopping Cart</h1>
        <div class="cart-info">
            <table>
                <thead>
                    <tr>
                        <td class="image">Image</td>
                        <td class="name">Name</td>
                        <td class="model">Size</td>
                        <td class="quantity">Quantity</td>
                        <td class="price">Price</td>
                        <td class="total">Total</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @using (Html.BeginForm("CapnhatCart", "Cart", new { @iMasp = item.iproductId }))
                        {
                            <td class="image"><img src="~/images/@item.simg" width="100" height="100" /></td>
                            <td class="name">@item.sProductName</td>
                            <td class="model">@item.isize</td>
                            <td class="quantity">
                                <input type="number" min="1" name="txtSoluong" value="@item.isoluong" style="background-color:aqua; width:15%" />
                                <a href="@Url.Action("XoaCart",new { @iMasp = item.iproductId })"><img title="Remove" alt="Remove" src="~/image/flags/rubbish.png"></a>
                                <input type="submit" value="Cập Nhật" style=" border: 6px solid green; background: green; color: white; ">
                                <a href="@Url.Action("Details","ShoeStore", new { id = item.iproductId })"><img title="Details" alt="Details" src="~/image/flags/search.png" /></a>
                            </td>
                            <td class="price">@String.Format("{0:0,0}", item.dDongia)</td>
                            <td class="total">@String.Format("{0:0,0}", item.dthanhtien)</td>
                        }
                    </tr>
                    }


                    <tr style="font-weight: bold; text-align:right;">
                        <td colspan="4">Số lượng giày: @ViewBag.Tongsoluong </td>
                        <td colspan="5">Tổng tiền giày: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
                    </tr>
                    <tr>
                        <td colspan="9" style="text-align:right">
                            <a href="@Url.Action("XoatatcaCart")" style="font-weight: bold; color: blue;"><img src="~/image/flags/remove-from-cart.png">Xóa giỏ hàng</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" style="text-align:right">
                            <a href="@Url.Action("Dathang")" style="font-weight: bold; color: blue;"><img src="~/image/flags/order-now.png">Đặt Hàng</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
